
.footer-bg{
   background-color: #E7ECFF;
.container{
   .footer-top{
     .years{
       font-weight: 500;
       font-size: 14px;
       color: #939EA4;
     } 
      .landing-text{
         color: #37447E;
         font-weight: 900;
         font-size: 26px;
       }
         .footer-buttun{
            background-color: #111B47;
            padding: 10px 20px;
                      
            .buttton-purchase{
                text-decoration: none;
                font-size: 16px;
               font-weight: 500;
               color: #fff;
            }
        }
    }
     .border-color{
        width:  920px;
        height:1px;
        background-color: #CDD1D4;
        margin-top: 20px;
     }
         .footer-nav{
            margin-top: 25px;

       .footer-nav-iteam{
          color: #929ECC;
          font-weight: 400;
          font-size: 14px;

         }
         .footer-icon1{
            width: 200px;
            .footer-icon{
               width: 20px;
               color: #111B47;
            }
         }
       
    } 
}
}