.container{
   .footer-top{
      .landing-text{
         color: #37447E;
         font-weight: 900;
         font-size: 26px;
       }
         .footer-buttun{
            background-color: #111B47;
            padding: 10px 20px;
                      
            .buttton-purchase{
                text-decoration: none;
                font-size: 16px;
               font-weight: 500;
               color: #fff;
            }
        }
    }
     .border-color{
        width:  920px;
        height:1px;
        background-color: #CDD1D4;
        margin-top: 20px;
     }
         .footer-nav{

       .footer-nav-iteam{

         }
         .footer-icon1{
            width: 200px;
            .footer-icon{
               width: 20px;
               color: #111B47;
            }
         }
       
    } 
}