.container{
    margin-top: 150px;
 .intor-pic{
    
      
 }
     .intor-text-contant{
                         margin-top: 100px;
                         margin-left: 20px;
    
 }
    .intor-title{
                 position: absolute;
    
  } 
  .intor-text{
             position: absolute;
             margin-top: 40px;
             width: 445px;
             .intor-button{
                margin-top: 50px;
                 width: 150px;
                height: 22px;
                padding: 20px 30px;
                background-color: #111f47;
                border-radius: 5px;
            }
            .buttton{
                color: #ffffff;
                text-decoration: none;
                font-size: 20px;
        }
                 
  } 
}