
 .intor-pic{
    
      width:50% ;
      overflow: hidden;
    //   background-color: red;
 }
     .intor-text-contant{
        width: 50%;
        // background-color: red;
                         margin-top: 100px;
                         margin-left: 20px;
    
 }
    .intor-title{
                margin-top: -35px;
                 position: absolute;
                 font-weight: 500;
                 font-size: 36px;
                 color: #091133;
    
  } 
  .intor-text{
             position: absolute;
             margin-top: 40px;
             width: 445px;
             font-weight: 400;
             font-size: 16px;
             color: #6F7CB2;
             .intor-button{
                margin-top: 50px;
                 width: 150px;
                height: 22px;
                padding: 20px 30px;
                background-color: #111f47;
                border-radius: 5px;
            }
            .buttton{
                color: #ffffff;
                text-decoration: none;
                font-size: 20px;
        }
                 
  } 


