.nav{
    ul{
        list-style: none;
        gap: 3.75rem;
        li{
            a{
                font-size: 0.875rem;
                text-decoration: none;
                transition: all .5s;
                &:hover{
                    color: rgb(47, 0, 255);
                }
            }
            ul {
                display: none;
                position: absolute;
            }
            &:hover  ul{
                display: block;
            }
        }
    }
}

