.contenar{
    
   
        .text-bar{
            background-color: aqua;
            height: 204px;
            width: 540px;
            .body-title{
             
            }
            .body-textp{

            }
        }
   
}